* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

.header {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px black;
}

.header div {
    display: flex;
    align-items: center;
}

.header img {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 10px;
    text-shadow: 3px 3px black;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar:hover a {
    background-color: darkblue;
}

.about-me {
    background-color: #2a607c;
    box-shadow: 3px 3px black;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me h2 {
    margin-top: 2%;
    text-shadow: 3px 3px black;
}

.about-me p {
    margin: 2%;
}

.work {
    background-color: #2a607c;
    box-shadow: 3px 3px black;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.work h2 {
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    text-shadow: 3px 3px black;
    display: flex;
}

.work-projects {
    margin: 2%;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.work-projects img {
    margin: 2%;
    box-shadow: 3px 3px black;
}