* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

.header {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px black;
}

.header div {
    display: flex;
    align-items: center;
}

.header img {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 10px;
    text-shadow: 3px 3px black;
}

#navbar li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

#navbar a {
    text-decoration: none;
    background-color: #2a607c;
    color: white;
    border-radius: 8px; 
    transition: all 0.5s ease-in-out;
}

#navbar a:hover {
    background-color: rgb(193, 88, 2);
    padding: 10px;
    box-shadow: inset Opx Opx 8px
    reba (232. 102. 236, 1), 0 0 150x
    reba (232. 102, 236, 1) ;
}

#about-me {
    background-color: #2a607c;
    box-shadow: 3px 3px black;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about-me h2 {
    margin-top: 2%;
    text-shadow: 3px 3px black;
}

#about-me p {
    margin: 2%;
}

#work {
    background-color: #2a607c;
    margin: 1%;
    box-shadow: 3px 3px black; 
    color: white;
    display: flex;
    align-items: stretch;
    align-items: center;
    flex-direction: row;
}

#work h2 {
    margin: 0 2%;
    text-shadow: 3px 3px black;
}

.project-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    background-color: #2a607c;
    border-left: solid 6px black;
}

.projects {
    margin: 2%;
    background-color: #2a607c;
    width: 50%;
    border-radius: 8px; 
}

.projects header {
    background-color: black;
    border-radius: 8px 8px 0 0; 
}

.projects img {
    width: 100%;
    height: 400px;
    border-radius: 0 0 8px 8px; 
}

.projects:hover {
    transition: all 0.5s ease-in-out;
    background-color: rgb(193, 88, 2);
    padding: 10px;
    box-shadow: inset Opx Opx 8px
    reba (232. 102. 236, 1), 0 0 150x
    reba (232. 102, 236, 1) ;
}

#first-project {
    width: 100%;
}

.row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
}

.row2 .projects {
   margin: 0;
   width: 600px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
}

.row3 .projects {
   margin: 0;
   width: 600px;
}

.row4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
}

.row4 .projects {
   margin: 0;
   width: 600px;
}

#last-project {
    width: 100%;
}

footer {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-me h4 {
    border-right: solid 6px black;
    margin: 0 2%;
}

.contact-info {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#contact-links {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#personal-conatct {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.contact-info img {
    height: 100px;
}

#github {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#github img {
    height: 100px;
    border-radius: 8px; 
}

#github h5 {
    margin-bottom: 5px;
}

#resume {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#resume h5 {
    margin-bottom: 5px;
}

#resume img {
    height: 100px;
    border-radius: 8px;  
    margin-bottom: 10px;
    margin-right: 10px;
}

#resume img:hover {
    transition: all 0.5s ease-in-out;
    background-color: rgb(193, 88, 2);
    padding: 10px;
    box-shadow: inset Opx Opx 8px
    reba (232. 102. 236, 1), 0 0 150x
    reba (232. 102, 236, 1) ;
}
